nav a {
    margin-right: 20px;
    text-align: center;
}

body {
    background-color: rgba(248, 255, 255, 0.911);
    font-family: Arial, sans-serif;
}
#home-section {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #000000;
    border-radius: 10px;

    margin: 30px 40px;

    padding-top: 12px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
}
.content-section{
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    margin: 30px 40px;

    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
}

a:hover{
    color: blue;
}

a {
    color:black;
}